.mydiv { grid-area: mydiv;  
    border: 14px outset rgb(218, 83, 245);
    background-color: rgb(29, 255, 236);    
    text-align: center;
    margin-bottom: 11px;}

.fagmeny { grid-area: fagmeny;
    width: 400px; 
    background-color: black;
    margin-top: 4px;
    font-size: larger;}
    
.fagmeny a {
    color: rgb(0, 0, 0);
    display: block; 
    padding: 90px; 
    text-decoration: none;}

.fagmeny a:hover {
    background-color: #9b9a9b;}

.fagmeny a.active {
    background-color: #ffffff;
    padding: 50px; 
    color: rgb(0, 0, 0);
    margin-bottom: 5px;}
    
.lilla {
    background-color: rgb(228, 51, 228);
    }

.lyselilla {
    background-color: rgb(154, 164, 253);  
    margin-top: 4px;}

.blå {
    background-color: rgb(128, 245, 245);
    margin-top: 4px;}

.grid-container {
  display: grid;
  grid-template-areas:
    'mydiv mydiv mydiv mydiv mydiv mydiv mydiv mydiv'
    'fagmeny bilde bilde bilde bilde bilde bilde bilde';
  grid-gap: 10px;
  background-color: none;
  padding: 10px;
}

.grid-container > div {
  background-color: none ;
  text-align: center;
  padding: 8px;
  font-size: 30px;
}
body {
    background-image: url('Desert.jpeg');
      background-color: #cccccc;
    }

.grid-container2 {
    display: grid;
    grid-template-areas:
      'pdiv pdiv pdiv pdiv pdiv'
      'fagmeny programmering programmering prosjekter prosjekter';
   grid-gap: 10px;
   background-color: none;
   padding: 10px;}
  
.grid-container2 > div {
    background-color: none ;
    text-align: center;
    padding: 8px;
    font-size: 30px;}

.pdiv{grid-area: pdiv;
    border: 14px outset rgba(48, 10, 48, 0.589);
    background-color: rgb(228, 51, 228);    
    text-align: center;
    margin-bottom: 11px; }

.programmering {grid-area: programmering;
    background-color: rgb(233, 103, 233);
    border: 4px solid #ffffffcc;
    border-radius: 10px;
    color: white;
    padding: 100px;
    font-size: 20px;
    cursor: pointer;}

.dropdown:hover .programmering {
    background-color: rgb(207, 91, 207);
}  

.prosjekter{grid-area: prosjekter;
    background-color: rgb(228, 51, 228);
    border: 4px solid #ffffffcc;
    border-radius: 10px;
    color: white;
    padding: 100px;
    width: 108%;
    font-size: 20px;
    cursor: pointer;}

.dropdown:hover .prosjekter {
    background-color: rgb(197, 45, 197);
}
.grid-container3 {
    display: grid;
    grid-template-areas:
        'mdiv mdiv mdiv mdiv mdiv'
        'fagmeny bilder bilder videoer videoer';
    grid-gap: 10px;
    background-color: none;
    padding: 10px;
}
          
.grid-container3 > div {
    background-color: none ;
    text-align: center;
    padding: 8px;
    font-size: 30px;}

.mdiv{grid-area: mdiv;  
    border: 14px outset rgb(77, 93, 236);
    background-color: rgb(154, 164, 253);    
    text-align: center;
    margin-bottom: 11px;}

.bilder{grid-area: bilder; 
    background-color: rgb(176, 184, 253);
    border: 4px solid #ffffffcc;
    border-radius: 10px;
    color: white;
    padding: 100px;
    font-size: 20px;
    cursor: pointer;
    width: 92mm;
}

.dropdown:hover .bilder {
    background-color: rgb(161, 167, 236);}  

.videoer{grid-area: videoer;
    background-color: rgb(133, 145, 252);
    border: 4px solid #ffffffcc;
    border-radius: 10px;
    color: white;
    padding: 100px;
    width: 108%;
    font-size: 20px;
    cursor: pointer; }

.dropdown:hover .videoer {
    background-color: rgb(111, 122, 228);}  

.grid-container4 {
    display: grid;
    grid-template-areas:
     'tdiv tdiv tdiv tdiv tdiv'
     'fagmeny oppgaver oppaver prosjekter2 prosjekter2';
    grid-gap: 1px;
    background-color: none;
    padding: 10px;
}
              
.grid-container4 > div {
    background-color: none ;
    text-align: center;
    padding: 8px;
    font-size: 30px;}

.tdiv {grid-area: tdiv;
    border: 14px outset rgba(8, 83, 83, 0.801);
    background-color: rgb(128, 245, 245); 
    text-align: center;
    margin-bottom: 11px;}

.oppgaver {grid-area: oppgaver;
    background-color: rgb(119, 228, 228);
    border: 4px solid #ffffffcc;
    border-radius: 10px;
    color: white;
    padding: 100px;
    font-size: 20px;
    cursor: pointer;
    width: 90mm;
} 

.dropdown:hover .oppgaver {
    background-color: rgb(106, 209, 209);} 
    
.prosjekter2{grid-area: prosjekter2;
    background-color: rgb(65, 206, 206);
    border: 4px solid #ffffffcc;
    border-radius: 10px;  
    color: white;
    padding: 100px;
    font-size: 20px;
    cursor: pointer;
  
}

.dropdown:hover .prosjekter2 {
    background-color: rgb(59, 185, 185)} 

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 10px;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

